.task li{
    text-align: left;
}
.task button{
    text-align: center;
    margin: 1rem;
}

div.ui.segment.action-buttons{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    text-align: center;
}

div.ui.segment.action-buttons button{
    margin: .5rem;
}